<div translate="no" class="notranslate codeblock codeblock-loc-{{ numLocDigits }} {{ languages|map(language => "codeblock-#{language}")|join(' ') }}">
    <div class="codeblock-scroll">
        <pre class="codeblock-lines">{{ lines|join("\n") }}</pre>
        <pre class="codeblock-code"><code>{{ code|raw }}</code></pre>
    </div>
</div>
