{% if figureNode.classesString %}<div class="{{ figureNode.classesString }}">{% endif %}
<figure>
    {{ figureNode.image.render()|raw }}

    {% if figureNode.document %}
        {% set caption = figureNode.document.render()|trim %}

        {% if caption %}
            <figcaption>{{ caption|raw }}</figcaption>
        {% endif %}
    {% endif %}
</figure>
{% if figureNode.classesString %}</div>{% endif %}
