<li>
    <a href="{{ tocItem.targetUrl }}">{{ tocItem.title|raw }}</a>

    {% if tocItem.children|length %}
        {% include "toc-level.html.twig" with {
            tocItems: tocItem.children,
            toc_deep_level: toc_deep_level + 1
        } %}
    {% endif %}
</li>
