<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}
        {%- if title!=null and env.projectNode.title!=null %} - {% endif -%}
        {%- if env.projectNode.title -%}{{ env.projectNode.title }}{%- endif -%}</title>

    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.min.js"></script>
    <![endif]-->
  
    <script>
    var DOCUMENTATION_OPTIONS = {
        URL_ROOT: '/',
        VERSION: '5.4',
        LANGUAGE: 'en',
        COLLAPSE_INDEX: false,
        BUILDER: 'html',
        FILE_SUFFIX: '.html',
        LINK_SUFFIX: '.html',
        HAS_SOURCE: true,
        SOURCELINK_SUFFIX: '.txt',
        NAVIGATION_WITH_KEYS: false,
        SHOW_SEARCH_SUMMARY: false,
        ENABLE_SEARCH_SHORTCUTS: false,
    };
    </script>
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/theme.js"></script>

    <link rel="stylesheet" href="/assets/css/theme.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/highlightjs.css" type="text/css" />

    {%~ block head %}
    {%~ endblock %}
</head>

<body class="wy-body-for-nav">
    <div class="wy-grid-for-nav">
        <nav data-toggle="wy-nav-shift" class="wy-nav-side">
            <div class="wy-side-scroll">
                <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
                    {{ renderMenu('mainMenu') }}
                </div>
            </div>
        </nav>

        <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">
            <div class="wy-nav-content">
                <div class="rst-content">
                    <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
                        {%- block document %}
                            <div itemprop="articleBody">
                                {% block body %}{% endblock %}
                            </div>
                        {%- endblock %}
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script type="text/javascript">
    jQuery(function () {
        SphinxRtdTheme.Navigation.enable(true)
    })
    </script>

</body>
</html>
