name: Docs Builder Tests

on:
    push:
        branches:
            - main
    pull_request:
    release:

jobs:
    composer-validate:
        name: Validate composer.json
        runs-on: ubuntu-latest

        steps:
            - name: 'Checkout code'
              uses: actions/checkout@v5

            - name: 'Install PHP'
              uses: shivammathur/setup-php@v2
              with:
                  coverage: none
                  php-version: 8.3
                  tools: composer:v2
                  ini-values: date.timezone=UTC

            - name: Validate composer.json file
              run: composer validate --strict

    stable-tests:
        name: "${{ matrix.operating-system }} / PHP ${{ matrix.php-version }}"
        runs-on: ${{ matrix.operating-system }}

        strategy:
            fail-fast: false
            matrix:
                # add here only the PHP versions and OS used in GitHub CI (for tests)
                # and on the symfony.com server (where the Symfony Docs are built)
                operating-system: ['ubuntu-latest']
                php-version: ['8.3', '8.4']

        steps:
            - name: 'Checkout code'
              uses: actions/checkout@v5

            - name: 'Install PHP'
              uses: shivammathur/setup-php@v2
              with:
                  coverage: none
                  php-version: ${{ matrix.php-version }}
                  tools: composer:v2
                  ini-values: date.timezone=UTC

            -   name: Install Composer Dependencies
                run: composer install --no-progress

            -   name: PHPUnit
                run: vendor/bin/simple-phpunit
