name: Docs Builder Tests

on:
    push:
        branches:
            - main
    pull_request:
    release:

jobs:
    composer-validate:
        name: Validate composer.json
        runs-on: ubuntu-latest

        steps:
            - name: 'Checkout code'
              uses: actions/checkout@v3

            - name: 'Install PHP'
              uses: shivammathur/setup-php@v2
              with:
                  coverage: none
                  php-version: 7.4
                  tools: composer:v2
                  ini-values: date.timezone=UTC

            - name: Validate composer.json file
              run: composer validate --strict

    stable-tests:
        name: Stable Tests
        runs-on: ubuntu-latest

        strategy:
            fail-fast: false
            matrix:
                php-version: ['7.4', '8.0', '8.1', '8.2']

        steps:
            - name: 'Checkout code'
              uses: actions/checkout@v3

            - name: 'Install PHP'
              uses: shivammathur/setup-php@v2
              with:
                  coverage: none
                  php-version: ${{ matrix.php-version }}
                  tools: composer:v2
                  ini-values: date.timezone=UTC

            -   name: Install Composer Dependencies
                run: composer install --no-progress

            -   name: PHPUnit
                run: vendor/bin/simple-phpunit
